.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin-top: 10px;
  }
  
.content {
    display: flex;
    align-items: center;
    padding: 10px;
  }
  
.text {
    flex: 1;
    padding-right: 25px;
    font-size: xx-large;
  }
  
.image img {
    width: 568px;
    height: 378px;
    border-radius: 1rem;
  }