.Navbar {
  display: flex;
  flex-direction: row;
  margin: 0;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: black;
}

.Navbar p {
  font-family: "Love Letter";
    color: white;
    text-align: center;
    padding: 10px;
    margin: 10px;
    font-weight: 500;
    text-decoration: none;
    box-sizing: border-box;
    font-size: 20px;
}

.navbar-link {
  text-decoration: none;
}

.messi {
  width: 75px;
  height: 75px;
  margin-right: 1100px;
}
