.tiles {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 20px;
}

.homepage {
  max-width: 1200px;
  align-items: center;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
}